header {
    background-color: $negro;
    .navbar .navbar-expand-lg {
        .container-fluid {
            .collapse .navbar-collapse {
                .navbar-var .me-auto .mb-2 .mb-lg-0 {
                    text-align: center;
                    .nav-item {
                        a {
                            color: white;
                        }
                    }
                }
            }
        }
    }
}


