/*HEADER*/
header {
    background-color: nth($list: $colores, $n: 3);
    position: sticky;
    top: 0px;
    z-index: 1;
    border-bottom: solid 1px nth($list: $colores, $n: 2);
    .navbar {
        .container-fluid {
            .navbar-brand {
                img {
                    width: 50%;
                }
            }
            .navbar-toggler {
                background-color: nth($list: $colores, $n: 2);
                // .navbar-toggler-icon {
                //     background-image: url(../../medios/menu-hamburguesa.png);
                // }
            }
            .collapse {
                .navbar-nav {
                    .nav-item {
                        .nav-link {
                            color: nth($list: $colores, $n: 2);
                            &:hover {
                                text-decoration: underline;
                                color: yellow;
                            }
                        }
                    }
                }
            }
        }
    }
}



