/* MEDIA QUERY PARA MOBILE */
@media screen and (max-width: 768px){
/*MAIN INICIO*/
.main-inicio {
    .div-inicio {
        flex-direction: column;
        align-items: center;
        padding: 2%;
        img {
            width: 90vw;
        }
        div {
            width: 80vw;
            h1 {
                width: 80%;
                font-size: 160%;
                margin: 0;
                padding: 1%;
            }
            h3 {
                width: 80%;
                font-size: 160%;
                margin: 0;
                padding: 1%;
            }
            a {
                width: auto;
                padding: 3%;
            }
        }
    }
}

/*NOSOTROS*/
.main-nosotros {
    .section-nosotros {
        h1 {
            font-size: 200%;
        }
        p {
            font-size: 100%;
        }
    }
    .section-nosotros1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
            font-size: 100%;
            text-align: center;
            width: 80vw;
        }
        section {
            flex-direction: column;
            img {
                width: 90vw;
            }
            p {
                font-size: 100%;
                width: 85vw;
            }
        }
        .div-nosotros {
            flex-direction: column;
            align-items: center;
            img {
                width: 90vw;
            }
            div {
                p {
                    font-size: 100%;
                    width: 85vw;
                }
            }
            }
    }
    .section-nosotros2 {
        h2 {
            font-size: 200%;
        }
        p {
            font-size: 100%;
        }
    }
}

/*MAIN FRANQUICIAS*/
.main-franquicias {
    .div-franquicias {
        flex-direction: column-reverse;
        align-items: center;
        img {
            width: 90vw;
        }
        div{
            h1 {
                font-size: 200%;
                padding: 5%;
                text-decoration: underline;
            }
            p {
                display: none;
            }
        }
    }
    .border-radius {
        width: 90vw;
        height: auto;
    }
    .formulario {
        form {
            input {
                width: 80vw;
            }
        }
    }
}

/*MAIN SUCURSALES*/
.main-sucursales {
    div {
        h1 {
            font-size: 200%;
        }
    }
    .section-sucursales {
        display: flex;
        flex-direction: column;
        padding-top: 5%;
        .div-sucursales {
            margin-bottom: 10%;
            img {
                width: 50vw;
            }
            p {
                text-align: center;
            }
        }
        .div-sucursales1 {
            margin-bottom: 10%;
            img {
                width: 50vw;
            }
            p {
                text-align: center;
            }
        }
    }
    .section-sucursales1 {
        display: flex;
        flex-direction: column;
        .div-sucursales2 {
            margin-bottom: 10%;
            img {
                width: 50vw;
            }
            p {
                text-align: center;
            }
        }
        .div-sucursales3 {
            margin-bottom: 10%;
            img {
                width: 50vw;
            }
            p {
                text-align: center;
            }
        }
    }
}

/*MAIN HAMBURGUESAS*/
.main-hamburguesas {
    h1 {
        font-size: 200%;
    }
    .section-hamburguesas {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 0;
                            .card1 {
                                margin: 0% 1% 1% 1%;
                                width: 80vw;
                            }
                            .card2 {
                                margin: 1%;
                                width: 80vw;
                            }
                            .card4 {
                                margin: 1%;
                                width: 80vw;
                            }
                            .card5 {
                                margin: 1%;
                                width: 80vw;
                            }
                            .card7 {
                                margin: 1%;
                                width: 80vw;
                            }
                            .card8 {
                                margin: 1%;
                                width: 80vw;
                            }
                            .card10 {
                                margin: 1%;
                                width: 80vw;
                            }
                            .card11 {
                                margin: 1% 1% 2% 1%;
                                width: 80vw;
                            }
    }
}

/*FOOTER*/
footer {
    .logo-footer {
        text-align: center;
    }
    .footer-inicio {
        display: none;
    }
}
}
